$base-color: #FF455A;
$base-color-light: lighten($base-color, 20%);
$base-color-soft: #E84658;
$white: #FFFFFF;
$off-white: #EFEFEF;
$grey: #808080;

$anim: all 100ms ease-in;

//fabric
$bp-medium: 850px;
$bp-large: 1000px;
$bp-site-max-width: 1440px;

$site-max-width: 1400px;

$color-black: #121212;
$color-gray-80: #555;
$color-gray-60: #969696;
$color-gray-40: #cfcfcf;
$color-gray-35: #ddd;
$color-gray-20: #ebebeb;
$color-gray-10: #f2f2f2;
$color-white: #ffffff;

$color-red: #ed5a3f;
$color-crusta: #f27c5e; //orangeish-red aka "tomato"
$color-yellow: #fab131;
$color-yellow-hover: #f7a81d;
$color-faded-yellow: #fdd898;
$color-translucent-yellow: #fbbc50;
$color-green: #7cb7b6;
$color-dark-beige: #99908a;
$color-light-beige: #faf7f5;

$color-white-rgba: rgba(255,255,255,1.0);
$color-black-semitransparent: rgba(0,0,0,0.15);
$color-black-semitransparent-darker: rgba(0,0,0,0.2);
$color-black-semitransparent-darkest: rgba(0, 0, 0, 0.3);

$base-unit: 10px;
