@import 'styles/index';

.analyticsOverview {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.avatarblock {
  display: inline-block;
  height: 100%;
  width: 200px;
  margin: 20px;
  float: left;
}

.selector {
  position: absolute;
  text-transform: uppercase;
  padding: 10px;
  display: inline-block;
  span {
    margin-right: 30px;
    &:hover {
      color: $base-color;
    }
  }
}

.statistics {
  position: relative;
  display: inline-block;
  top: 50%;
  transform: translateY(60%);
}

.statblock {
  display: inline-block;
  margin-right: 70px;
}

.avatar {
  display: inline-block;
}

.statheading {
  color: $base-color;
}

.label {
  text-transform: uppercase;
  font-size: 16px;
  color: #808080;
  letter-spacing: 0px;
  line-height: 22px;
}