@import 'styles/index';

.analyticsOverview {
  position: relative;
}

.avatarblock {
  display: inline-block;
  height: 100%;
  width: 200px;
  margin: 20px;
  overflow: hidden;
}

.selector {
  position: absolute;
  text-transform: uppercase;
  padding: 10px;
  display: inline-block;
  span {
    margin-right: 30px;
    &:hover {
      color: $base-color;
    }
  }
}

.statistics {
  position: relative;
  transform: translateY(-100%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.avatar {
  display: inline-block;
}