.appWrap {
  float: right;
  position: relative;
  min-height: 100vh;
  height: 100%;
  min-width: 80%;
  width: 100%;
  max-width: calc(100% - 300px);
  padding: 100px;
  background: #F2F2F2;
  z-index: -100;
}