.appWrap {
  position: relative;
  min-height: 100vh;
  height: 100%;
  width: 80%;
  margin-left: 250px;
  background: #F2F2F2;
  z-index: -100;
}

.appContainer {
  display: block;
  margin: 0 auto;
}